<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styleHome.css">
</head>
<body>
    <div class="navbar">
        <div>Home</div>
        <div>
            {# <a href="/profile">Perfil</a> #}
            <form action="/logout" method="POST" style="display: inline;">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>
    </div>

    <div class="welcome">
        <h1>Bem-vindo, {{ user.username }}!</h1>
    </div>
</body>
</html>
